<a th:fragment="profile" class="text-decoration-none">
  <div class="card " style="border: none">
    <img th:src="@{/resources/images/cover.jpeg}" style="width: 100%; height: 250px" salt="News Coffee" class="bd-placeholder-img card-img-top object-fit-cover">
    <div class="card-body position-relative mb-4">
      <div class="position-absolute start-0 translate-middle-y">
        <div class="d-flex">
          <div class="text-bg-dark rounded-pill " style="width: 180px; height: 180px; margin-left: 200px ">
            <img class="small border w-100 h-100 object-fit-cover rounded-pill border-3 "
                 th:src="@{/resources/images/defaults/profiles/profile02.jpeg}" alt="picture" >
          </div>
        </div>
      </div>
    </div>
  </div>
</a>