<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/master-layout}">

<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
    <main  layout:fragment="main-content" class="m-5">
        <div class="row " >
            <div class="col-7">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">
                    <div class="col" th:each="movie : ${movies}" >
<!--                        <h1 th:text="${movie.title}">Hello</h1>-->
                        <div th:replace="~{fragments/cards:: post-card(*{movie.uuid},*{movie.title},*{movie.description}
                        ,*{movie.thumbnail},*{movie.categoryList},*{movie.users})}"></div>
                    </div>

                </div>
            </div>
            <div class="col-5">
                <div>
                    <div th:replace="~{fragments/forms:: categories-form(${categories})}"></div>
                </div>
            </div>
        </div>
        <div class="position-fixed bottom-0  text-white fw-bolder end-0 btn btn-primary rounded-pill"
           style="width: 60px; height: 60px; right: 25px!important; bottom:25px!important"
        >
            <a th:href="@{/posts/new}" class="w-100 h-100 text-decoration-none d-flex align-items-center justify-content-center text-white">
                <i class="fa-solid fa-plus"></i>
            </a>
        </div>
    </main>
</body>
</html>
